<div class="jumbotron">
	<div class="container">
		<h1>Comunidad de guías de free tours</h1>
		<p>Book incredible things to do around the world.</p>
		<form (ngSubmit)="searchTour(form)" #form="ngForm" novalidate>
			<div class="row">
				<div class="col-md-10">
					<div class="form-group">
						<!-- <mat-form-field class="w-100" [floatLabel]="'never'" appearance="outline">
							<mat-label>¿Dónde vas a ir?</mat-label>
							<input matInput [(ngModel)]="search" (click)="showCities()" placeholder="Escribe aquí la ciudad" name="search" search="text" #title="ngModel">
						</mat-form-field> -->
						<mat-form-field class="w-100 mb-0" appearance="outline">
							<mat-label>¿Dónde vas a ir?</mat-label>
							<mat-select>
								<mat-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-2">
					<input class="btn btn-outline-primary btn-lg w-100" type="submit" value="Buscar tour">
				</div>
			</div>
		</form>
	</div>
</div>
