<footer class="text-muted">
  <div class="container">
		<div class="row">
			<div class="col-md-6">
				<p>
					Copyright © FreeTour 2019 | Hecho con mucho <i class="fas fa-heart" style="color:red"></i>
				</p>
				<p>
					Queda prohibida la reproducción, distribución comunicación pública y utilización total o parcial, de los contenidos de esta web, en cualquier forma o modalidad, sin previa, expresa y escrita autorización.
				</p>
			</div>
			<div class="col-md-6">
				<p class="float-right up">
					<a href="#">Subir</a>
				</p>
			</div>
		</div>
  </div>
</footer>
