<nav class="navbar navbar-expand-md navbar-white bg-white border-bottom">
  <div class="container">
    <h5 class="my-0 mr-md-auto font-weight-normal">
      <a href="/">Free Tour</a>
    </h5>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav my-2 my-lg-0 ml-md-auto align-items-center">
        <li class="mr-3">
          <a class="p-2 text-dark" href="/">Tours</a>
        </li>
        <li class="mr-3">
            <a class="p-2 text-dark" href="admin/tour">Crear tour</a>
          </li>
        <li><a *ngIf="!logIn" class="btn btn-outline-primary mr-sm-2" href="/login">Entrar</a></li>
        <li><a *ngIf="!logIn" class="btn btn-outline-secondary" href="#">Registrarse</a></li>
        <li><a *ngIf="logIn" class="btn btn-outline-danger mr-sm-2" href="" (click)="logOut()">Salir</a></li>
      </ul>
    </div>
  </div>
</nav>
