<app-navbar></app-navbar>
<section class="login-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div *ngIf="showAlertError" class="alert-danger alert" role="alert">
          Por favor ingresa las credenciales correctamente.
        </div>
        <div class="login-body">
          <h3 class="text-center mb-4">Inicia sesión</h3>
          <form (ngSubmit)="login(form)" #form="ngForm" novalidate>
            <div class="form-group">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="loginForm.email" placeholder="E-mail" name="email" type="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                <mat-error *ngIf="email.hasError('required') && email.touched || email.hasError('required') && form.submitted">El email es obligatorio</mat-error>
                <mat-error *ngIf="email.hasError('pattern') && email.touched || email.hasError('pattern') && form.submitted">El email es invalido</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput [(ngModel)]="loginForm.password" placeholder="Contraseña" name="password" type="password" #password="ngModel" required>
                <mat-error *ngIf="password.hasError('required') && password.touched || password.hasError('required') && form.submitted">La contraseña es obligatoria</mat-error>
                <!-- <mat-error *ngIf="password.hasError('pattern') && password.touched || password.hasError('pattern') && form.submitted">La contraseña no cumple las normas</mat-error> -->
              </mat-form-field>
            </div>
            <fieldset>
              <!-- <div class="form-group">
                <input class="form-control form-control-lg" [(ngModel)]="loginForm.email" placeholder="E-mail" name="email" #email="ngModel" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                <span class="error" *ngIf="email.errors?.required && email.touched || email.errors?.required && form.submitted">
                  Campo requerido
                </span>
                <span class="error" *ngIf="email.errors?.pattern && email.touched">
                  Email invalido
                </span>
              </div> -->
              <!-- <div class="form-group">
                <input class="form-control form-control-lg" [(ngModel)]="loginForm.password" placeholder="Contrasenya" name="password" #password="ngModel" type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required>
                <span class="error" *ngIf="password.errors?.required && password.touched || password.errors?.required && form.submitted">
                  Campo requerido
                </span>
              </div> -->
              <input class="btn btn-outline-primary btn-lg w-100" type="submit" value="Iniciar sesión">
            </fieldset>
          </form>
        </div>
        <a class="d-block text-right mt-3" href="/recuperacio-contrasenya">¿Has olvidado la contraseña?</a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>