.login-section {
    .login-body {
        background-color: white;
        padding: 40px;
        box-shadow: 0 0 8px rgba(0,0,0,0.25);
        border-radius: 10px;
        h3 {
        }
    }
    a {
        color: #007bff;
        font-weight: 100;
    }
}