<app-navbar></app-navbar>
<section class="tour-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h1 class="mb-5">Crear tu tour</h1>
      </div>
      <div class="col-md-10 offset-md-1">
        <div class="mb-5">
          <h4 class="mb-3">Añade algunas fotos a tu tour</h4>
          <p>Para hacer tu tour más llamativo, muéstrales algunas fotos de lo que van a ver y experimentar. Cuanto más intensas sean las fotos, mejor.</p>
          <ngx-dropzone
            [showPreviews]="true"
            [accept]="'image/png,image/jpeg'"
            [label]="'Arrastra y suelta aquí tus fotos. O haz click para subirlas desde tu equipo.'"
            (filesAdded)="onFilesAdded($event)"
            #dropzone>
          </ngx-dropzone>
          <div *ngIf="showBtnResetImages" class="text-right mt-4">
            <button class="btn btn-outline-primary btn-lg" (click)="dropzone.reset(); checkIamges()">Eliminar imágenes</button>
          </div>
        </div>
        <form (ngSubmit)="setTour(form)" #form="ngForm" novalidate>
          <h4 class="mb-3">¿Cómo quieres que se llame el tour?</h4>
          <p>Elige un título interesante y atrayente que resuene entre la audiencia, y cuéntales de qué se trata.</p>
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Título del tour</mat-label>
              <input matInput [(ngModel)]="tour.title" placeholder="Escribe aquí el título del tour" name="title" type="text" #title="ngModel" required>
              <mat-error *ngIf="title.hasError('required') && title.touched || title.hasError('required') && form.submitted">Campo obligatorio</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <h4 class="mb-3">Por favor, describe tu tour con detalle</h4>
            <p>Los viajeros quieren saber lo que pueden esperar de tu tour. Hazlo atractivo para que sea especial, lista los lugares que se van a visitar y que incluye.</p>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Descripción del tour</mat-label>
              <textarea matInput [(ngModel)]="tour.detail" placeholder="Escribe aquí el descripción del tour" name="detail" type="text" #detail="ngModel" required></textarea>
              <mat-error *ngIf="detail.hasError('required') && detail.touched || detail.hasError('required') && form.submitted">Campo obligatorio</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <h4 class="mb-3">¿Dónde se realiza el tour?</h4>
            <p>Por favor, escribe el nombre de tu ciudad. Usa el campo de búsqueda de más abajo para encontrar ciudades del mundo. Automáticamente reconocerá el nombre de la ciudad a medida que vayas escribiendo.</p>
            <p>Si el puntero no se encuentra en el lugar exacto, arrastralo donde creas que es el lugar correcto.</p>
            <mat-google-maps-autocomplete [appearance]="appearance.OUTLINE"
                                          [addressLabelText]="addressLabelText"
                                          [placeholderText]="placeholderText"
                                          [requiredErrorText]="requiredErrorText"
                                          [invalidErrorText]="invalidErrorText"
                                          (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                          (onLocationSelected)="onLocationSelected($event)">
            </mat-google-maps-autocomplete>
            <agm-map
              [latitude]="latitude"
              [longitude]="longitude"
              [scrollwheel]="false"
              [zoom]="zoom"
            >
              <agm-marker
                [latitude]="latitude"
                [longitude]="longitude"
                [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)"
              >
              </agm-marker>
            </agm-map>
            <!-- <p>Latitud: {{latitude}} - Longitud: {{longitude}}</p> -->
          </div>
          <div class="form-group">
            <h4 class="mb-3">Cómo encontrarte y reconocerte</h4>
            <p>Por favor, define exactamente dónde te puede encontrar la gente (por ejemplo, en las escaleras, en la entrada principal...) y cómo te puede reconocer (por ejemplo, con una camiseta verde, con una señal levantada, etc).</p>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Cómo reconocerme</mat-label>
              <input matInput [(ngModel)]="tour.how_to_find_me" placeholder="¿Dónde quieres realizar el tour?" name="how_to_find_me" type="text" #how_to_find_me="ngModel" required>
              <mat-error *ngIf="how_to_find_me.hasError('required') && how_to_find_me.touched || how_to_find_me.hasError('required') && form.submitted">Campo obligatorio</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <h4 class="mb-3">Por favor, proporciona un horario al tour</h4>
            <p>Puedes proporcionar horarios diferentes para cada día y cada idioma, así como varios horarios en el mismo día si lo deseas.</p>
            <h5>Selecciona uno o varios días</h5>
            <mat-button-toggle-group *ngIf="showButtonToggle" [(ngModel)]="days" name="days" multiple required>
              <mat-button-toggle value="monday">Lunes</mat-button-toggle>
              <mat-button-toggle value="tuesday">Martes</mat-button-toggle>
              <mat-button-toggle value="wednesday">Miercoles</mat-button-toggle>
              <mat-button-toggle value="thursday">Juves</mat-button-toggle>
              <mat-button-toggle value="friday">Viernes</mat-button-toggle>
              <mat-button-toggle value="saturday">Sabado</mat-button-toggle>
              <mat-button-toggle value="sunday">Domingo</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <h5>Selecciona la hora de inicio</h5>
          <div class="row">
            <mat-form-field *ngFor="let hour of hours" class="mb-0 col-md-3" appearance="outline">
              <mat-label>Horario</mat-label>
              <mat-select [(value)]="hour.value" name="hour">
                <mat-option *ngFor="let time of times" [value]="time.value">{{time.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <p>
            <a (click)="addHour()" href="javascript:void(0);" class="btn btn-primary">Añadir nuevo horario</a>
          </p>
          <mat-spinner *ngIf="loading" [diameter]="48" class="float-md-right"></mat-spinner>
          <div *ngIf="showAlert" class="alert-success alert mb-4" role="alert">
            El tour ha sido creado correctamente.
          </div>
          <input *ngIf="!loading" class="btn btn-outline-primary btn-lg float-md-right" type="submit" value="Crear Tour">
        </form>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>