agm-map {
    height: 400px;
    margin-bottom: 45px;
    display: block;
    border-radius: 5px;
    overflow: hidden;
}
.autocomplete-container {
    padding: 1rem 0 1rem 0;
    width: 50%;
}
textarea {
    &.mat-input-element {
        height: 200px;
    }
}
