<app-navbar></app-navbar>
<app-header [type]="'home'"></app-header>
<section class="tours-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mb-5">Todos los tours</h1>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div *ngFor="let tour of tours" class="col-md-4">
            <div class="card">
              <img class="card-img-top" [src]="urlImages+tour.images[0].image_url" alt="Card image cap" />
              <div class="card-body">
                <h5 class="card-title">{{tour.title}}</h5>
                <p class="card-text">{{tour.detail | slice:0:170}}</p>
                <a href="tour/{{tour.slug}}" class="btn btn-outline-primary">Leer más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>