.card {
    .card-text {
        max-height: 100px;
        overflow: hidden;
        position: relative;
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: linear-gradient(to bottom, rgba(255,255,255,0) 35px, #fff 100%);
        }
    }
}