/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

section {
    padding: 70px 0 70px;
}
footer {
    padding-top: 30px;
    padding-bottom: 30px;
}
.pac-container {
    .pac-item {

        padding: 5px;

        cursor: pointer;

        .pac-icon-marker {
            display: none;
        }
    }
    &:after {
        display: none;
    }
}
.mat-input-element:focus {
    border-width: 0;
    outline: 0;
    -webkit-appearance: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
input {
    &.btn:focus {
        outline: 0;
        -webkit-appearance: none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
}
mat-google-maps-autocomplete {

    margin-bottom: 20px;
    display: block;

    input {
        &.mat-input-element {
            height: 18px;
        }
    }
}
ngx-dropzone {
    border: 2px dashed rgba(0,0,0,.15);

    .dropzone {
        p {
            text-align: center;
        }
    }
}
.jumbotron {
    background-color: white;
    margin-bottom: 0;
}
.tour-section {
    p {
        white-space: pre-wrap;
    }
}
// .mat-calendar-controls {
//     .mat-calendar-period-button {
//         display: none;
//     }
//     .mat-calendar-previous-button {
//         display: none;
//     }
// }