<app-navbar></app-navbar>
<section class="tour-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="mb-5">{{tour.title}}</h1>
        <p>{{tour.detail}}</p>
        <agm-map
          [latitude]="40.411253209511834"
          [longitude]="-3.682246623864785"
          [scrollwheel]="false"
          [mapDraggable]="false"
          [zoomControl]="false"
          [streetViewControl]="false"
          [fullscreenControl]="true"
          [zoom]="16">
          <agm-marker
            [latitude]="tour.marker_lat"
            [longitude]="tour.marker_long">
          </agm-marker>
        </agm-map>
      </div>
      <div class="col-md-4">
        <div class="calendar-wrapper">
          <mat-calendar
            #calendar
            [(selected)]="selectedDate"
            (selectedChange)="onDaySeleted($event)"
            [minDate]="today">
          </mat-calendar>
        </div>
        <div *ngIf="showTimes">
          <h5>Horarios del tour</h5>
          <div *ngFor="let time of times">
            <ul class="result-time">
              <li class="d-flex justify-content-between align-items-center">
                <div>
                  <p>{{selectDay}}</p>
                  <p>{{time.hour}}</p>
                </div>
                <div>
                  <a href="#" class="btn btn-outline-primary float-md-right">Reservar</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="noResults" class="alert alert-danger" role="alert">
            No hay resultados en el día elegido
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>