agm-map {
    height: 400px;
    margin-bottom: 45px;
    display: block;
    border-radius: 5px;
    overflow: hidden;
}
mat-calendar {
    border: 1px solid #dee2e6;
    margin-bottom: 30px;
}
ul {
    margin: 0;
    padding: 0;

    &.result-time {
        li {
            list-style: none;
            border-bottom: 1px solid #eee;
            padding: 10px 0;

            p {
                margin-bottom: 0;
            }
        }
    }
}